#sideBar{
  width:15vw;
  background-color:green;
  height:100vh;
}

#header{
  --size:15vh;
  height:var(--size);
  background-color:blue;
  width:calc((100vw)-30px);
  display: flex;
}

/* #content{
  background-color:red;
} */

#home{
  background-color:yellow;
  width:85vw;
  min-height:100vh;;
}

#main{
  display: flex;
}

.list{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
}

.listItem{
  margin:20px;
  padding:10px;
  border:solid;
}

#header_logo{
  height: calc(var(--size) - 30px);
  padding: 15px;

}

#userActions{
 display: flex;
 justify-content:right;
}

#navbar{
  width:calc((100vw)-30px);
  align-items: center;
}